<iframe class="inner_content" src="" frameborder="0"></iframe>
<div class="actions">
    <form class="url_refresh">
    Refresh page every
    <select>
        <option value="5">5 seconds</option>
        <option value="10">10 seconds</option>
        <option value="30">30 seconds</option>
        <option value="60">minute</option>
        <option value="300">5 minutes</option>
        <option selected="selected" value="600">10 minutes</option>
        <option value="1800">30 minutes</option>
        <option value="3600">60 minutes</option>
    </select>
    </form>
</div>
