body {
  padding: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f3f3f3;

  background-image:url('/images/odin_back.png');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;

}
a {
  color: #00b7ff;
}

input,submit,textarea,button,input,select{
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 2px;
  padding-right: 5px;
  padding-left: 7px;
  margin: 2px;
  border:1px solid #dcdcdc;
}

#chat_msg_data,.chat_submit{
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 300px;
  margin-top: 5px;
}

input:focus,textarea:focus{
  background-color: #f8fcff;
}

h1{
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 20px;
  font-weight: bold;
  cursor: move;
  text-transform:capitalize;
  padding-left: 10px;
  padding-top: 5px;
  color: #fff;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #647e99 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#647e99)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7db9e8 0%,#647e99 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#647e99',GradientType=0 ); /* IE6-9 */

  -webkit-border-top-left-radius:7px;
  -moz-border-top-left-radius:7px;
   border-top-left-radius:7px;
   -webkit-border-top-right-radius:7px;
   -moz-border-top-right-radius:7px;
   border-top-right-radius:7px;
   border: 0px;
}

.overlay, #overlay {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10000;
    background-color: #FFFFFF;
  }

.container_control{
	position: absolute:
	top: 0px;
	right: 0px;
	height: 20px;
	width: 80px;
	float: right;
	margin: 3px;
}

.container_control span{
	border:1px solid #dcdcdc;

	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;

	display:inline-block;
	height:12px;
	width:12px;
	float:right;
	margin: 2px;
	cursor: pointer;
	text-align: center;
	background-color:#dcdcdc;
    background: -moz-linear-gradient(top,  rgba(220,220,220,1) 0%, rgba(163,163,163,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,220,220,1)), color-stop(100%,rgba(163,163,163,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(163,163,163,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(163,163,163,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(163,163,163,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(220,220,220,1) 0%,rgba(163,163,163,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#a3a3a3',GradientType=0 ); /* IE6-9 */


	font: 10px Arial, sans-serif;
}

.container_control .close{
    background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,149,28,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(100%,rgba(255,149,28,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,149,28,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,149,28,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,149,28,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,149,28,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff951c',GradientType=0 ); /* IE6-9 */

    border:1px solid #ffb76b;
    line-height: 11px;
    display:none;
}

.container{
	display:none; 
	margin: 10px;
	border: 1px solid #dcdcdc;
	width: 320px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #FFFFFF;
	z-index:10;

    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;

}

#mokup,#widget_param{
	display:none;
}

#widget_selector{
    height: 27px;
	padding: 5px;
    background: -moz-linear-gradient(top,  #7db9e8 0%, #647e99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#647e99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#647e99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#647e99',GradientType=0 ); /* IE6-9 */

}

#main_chat_container{
    height: auto;
    display:block;
}

#new_widget{
    display:none;
}

#user_container_button{
	padding: 10px;
	cursor: pointer;
	position: fixed;
	height: 14px;
	left:0; 
	bottom:0; 
	width:100%;
	display:none;
	color: #fff;

    background: -moz-linear-gradient(top,  #7db9e8 0%, #647e99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#647e99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#647e99 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#647e99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#647e99',GradientType=0 ); /* IE6-9 */
}
#user_container{
	display: none;
	border-top: 1px solid #7db9e8;
	background-color: #fff;
	padding: 10px;
	cursor: pointer;
	position: fixed;
	height: 14px;
	left:0; 
	bottom:0; 
	width:100%;
}
#chat_container{
	display: none;
	padding: 10px;
}

#nick_container{
	padding: 10px;
}

#stream{
	margin-bottom: 10px;
	overflow: auto;
	height: 300px;
	width: 100%;
}

#stream .msg{
	font-weight: bold;
}
#stream .error, #error{
	font-weight: bold;
	color: #ff4141; 
  margin-bottom: 5px;
}
#stream .private_msg{
	font-weight: bold;
	color: #7db9e8;
}
.inner_content{
	width: 100%;
	height: 100%;
    padding-bottom: -30px;
}

.actions{
    clear: both;
    height: 25px;
    padding: 10px;
    padding-right: 15px;
    text-align: right;
}

#about{
	position: absolute;
	height: 27px;
	width:80px;
	right:5px;
	top:9px;
}

#about a{
	color: #fff;
	text-decoration: none;
    font-weight: bold;
}
